body
{
    background-color: #015678;
    font-size: medium;
}

.game
{
    margin: auto;
    margin-top:1px ;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.253);
}